:root {

  width: 100%;
  min-height: 100vh;
  max-height: 100%;

  box-sizing: border-box;
  margin: 0;
  padding: 0;

  --primary--color: #ffffff;
  --secondary--color: #000000;
  --third--color: #FB542B;
  --forty--color: #999ea2;
  --fifty--color: #ced0db;
  --backgroundWhite--color: #F8F9FA;
  --backgroundBlack--color: #17171F;
  --bgBoxDark:#303341;
  --bgBox:white;
}

body,
html {
  font-family: 'Mulish', sans-serif;
  font-weight: 400;
  min-height: inherit;
  max-height: inherit;
  max-width: 100%;
  margin: 0;
  padding:0;
  box-sizing: border-box;
  color: var(--secondary--color);
  overflow-x: hidden;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

*::before,
*::after {
  display: block;
}

img,
picture,
video,
iframe,
figure {
  max-width: 100%;
  width: 100%;
  display: block;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

p a {
  display: inline;
}

li {
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em {
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
  margin: 0;
  padding: 0;
}

::selection {
  background-color: var(--third--color);
  color: var( --primary--color);
}

form,
input,
textarea,
select,
button,
label {
  font-family: inherit;
  font-size: inherit;
  background-color: transparent;
  color: inherit;
  display: block;
  margin: 0;
  padding: 0;
}